* {
  margin: 0;
  padding: 0;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projectCard {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  background-color: rgba(63, 63, 63, 0.363);
  margin: 2px;
  width: 400px;
  height: 250px;
  cursor: pointer;
  overflow: hidden;
}

.projectCard:hover {
  background-color: rgba(184, 185, 185, 0.39);
}

.projectCardTitle {
  font-size: larger;
  padding: 3px;
  margin-bottom: 10px;
  background-color: rgba(63, 63, 63, 0.534);
  height: 70px;
}

.projectCardInfo {
  height: 100%;
}

.projectCard a {
  text-decoration: none;
}
